body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0c3352;
    margin: 0px;
    padding: 0%;
}

div{
    width: 100%;
    margin: auto;
    background-color: #0c3352;
    padding: 20px;
    box-shadow: 0 0 10px rgba(207, 194, 194, 0.1);
}
a {color: #ffffff(97, 14, 14)}
a {font-size: 25;}
a {color: #ffffff;}
b {color: #ffffff;}
div{text-align: center;}
a{padding: 0px 15px;}


h1 { color: #ffffff;}
h1 {font-size: 40;}
h1 {text-align: center;}


h2 {color: #0c3352;};
p {line-height: 1.6; color: #0c3352;}
p {font-size: 25;}
h3 {color: grey};
img{margin-top: 1000;text-align: center;}

img {
  position: absolute;
  top: 200px; /* Adjust from top */
  left: 30px; /* Adjust from left */
}
b{
    position: absolute;
    top: 200px; /* Adjust from top */
    left: 180px; /* Adjust from left */
  }
p2{position: absolute;
  top: 280px; /* Adjust from top */
  left: 180px; /* Adjust from left */
  font-size: 20}

p2{ color:#ffffff;}

/* Portfolio Page */ 
.portfolio-content {
    padding: 0px 20px;
    text-align: center;
}
.clipping {
    display: inline-block;
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
    width: auto;
    height: 200;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.clipping img {
    width: 140px;
    height: auto;
    border-radius: 10px;
}

.clipping h3 {
    font-size: 1.5em;
    color: #6B8F71;
    position: absolute;
   left: 150px;
    margin-top: 0px;
}

.clipping p {
    color: #555;
    font-size: 1.4em;
    margin-top: 3%;
    position: absolute;
    top: 300px;
    left: 185px
}



/*phone*/
@media (orientation: portrait){
    #content {
        width: 100%;
        line-height: 1.5 em;
        font-size: 1.5 em;
    }}
/*desktop*/
#content {
    width: 75%;
    margin: auto;
    line-height: 1.5 em;
    font-size: 1.5 em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
