
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0c3352;
    margin: 0px;
    padding: 0%;
}

div{
    width: 100%;
    margin: auto;
    background-color: #0c3352;
    padding: 20px;
}
a {color: #ffffff}
a {font-size: 25;}
div{text-align: center;}
a{padding: 0px 15px;}


h1 { color: #ffffff;}
h1 {font-size: 40;}
h1 {text-align: center;}


h2 {color: #ffffff;};
p {line-height: 1.6; color: #ffffff;}
p {color: #ffffff}
p {font-size: 25;}
h3 {color: grey};
img{margin-top: 400;text-align: center;}



/*phone*/
@media (orientation: portrait){
    #content {
        width: 100%;
        line-height: 1.5 em;
        font-size: 1.5 em;
    }}


/*desktop*/
#content {
    width: 75%;
    margin: auto;
    line-height: 1.5 em;
    font-size: 1.5 em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}